# Puerto en el que se ejecuta el servidor
PORT=4000

# Cadena de conexión a MongoDB
MONGODB_URI=mongodb://localhost:27017/school

# Clave secreta para generar y verificar JWT
JWT_SECRET=cambia_esta_clave


g1QLy865vGrCqYSW